[submodule "stm32plus"]
	path = stm32plus
	url = https://sikolymester@bitbucket.org/sikolymester/stm32plus.git
[submodule "manokapanel_src"]
	path = manokapanel_src
	url = https://sikolymester@bitbucket.org/sikolymester/manokapanel_src.git
